openapi: 3.0.1
info:
  contact:
    email: contact-api@netatmo.com
    name: Netatmo
  description: |
    <h3>Welcome to the Netatmo swagger on-line documentation !</h3>
    This site is a complement to the official <a href="https://dev.netatmo.com/">Netatmo developper documentation</a> using swagger to bring interactivity and easy testing of requests with the "try it" button (authenticate with the authorization code OAuth2 flow by clicking the authenticate button in the methods). You can find the source code for this site can be found in the project <a href="https://github.com/cbornet/netatmo-swagger-ui">netatmo-swagger-ui</a>. You can also use the online <a href="./swagger.json">swagger declaration</a> file to generate code or static documentation (see <a href="https://github.com/cbornet/netatmo-swagger-api">netatmo-swagger-api</a>).
  license:
    name: "Netatmo : Terms of Service"
    url: https://dev.netatmo.com/dev/resources/legal/introduction
  termsOfService: https://dev.netatmo.com/dev/resources/legal/introduction
  title: Netatmo
  version: 1.1.3
externalDocs:
  description: Netatmo reference API documentation
  url: https://dev.netatmo.com/dev/resources/technical/reference
servers:
- url: https://api.netatmo.net/api
tags:
- description: Weather station specific methods
  name: station
- description: Healthy Home Coach specific methods
  name: healthyhomecoach
- description: Thermostat specific methods
  name: thermostat
- description: Welcome specific methods
  name: welcome
- description: Public stations specific methods
  name: public
- description: Partner API specific methods
  name: partner
- description: These methods are no longer maintained nor supported
  name: deprecated
paths:
  /getpublicdata:
    get:
      description: Retrieves publicly shared weather data from Outdoor Modules within
        a predefined area.
      operationId: getpublicdata
      parameters:
      - description: Latitude of the north east corner of the requested area. -85
          <= lat_ne <= 85 and lat_ne>lat_sw
        in: query
        name: lat_ne
        required: true
        schema:
          format: int32
          type: integer
      - description: Longitude of the north east corner of the requested area. -180
          <= lon_ne <= 180 and lon_ne>lon_sw
        in: query
        name: lon_ne
        required: true
        schema:
          format: int32
          type: integer
      - description: Latitude of the south west corner of the requested area. -85
          <= lat_sw <= 85
        in: query
        name: lat_sw
        required: true
        schema:
          format: int32
          type: integer
      - description: Longitude of the south west corner of the requested area. -180
          <= lon_sw <= 180
        in: query
        name: lon_sw
        required: true
        schema:
          format: int32
          type: integer
      - description: To filter stations based on relevant measurements you want (e.g.
          rain will only return stations with rain gauges). Default is no filter.
          You can find all measurements available on the Thermostat page.
        explode: false
        in: query
        name: required_data
        schema:
          items:
            enum:
            - temperature
            - humidity
            - pressure
            - wind
            - rain
            type: string
          type: array
        style: form
      - description: True to exclude stations with abnormal temperature measures.
          Default is false.
        in: query
        name: filter
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAPublicDataResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - public
  /getuser:
    get:
      deprecated: true
      description: |
        The method getuser returns information about a user such as prefered language, prefered units, and list of devices.
      operationId: getuser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAUserResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - deprecated
  /devicelist:
    get:
      deprecated: true
      description: |
        The method devicelist returns the list of devices owned by the user, and their modules.
        A device is identified by its _id (which is its mac address) and each device may have one, several or no modules, also identified by an _id.
      operationId: devicelist
      parameters:
      - description: Defines which device type will be returned by devicelist. It
          could be app_thermostat or app_station (by default if not provided)
        in: query
        name: app_type
        schema:
          enum:
          - app_thermostat
          - app_station
          type: string
      - description: Specify a device_id if you want to retrieve only this device
          informations.
        in: query
        name: device_id
        schema:
          type: string
      - description: "When set to \"true\", the favorite devices of the user are returned.\
          \ This flag is available only if the devices requested are Weather Stations."
        in: query
        name: get_favorites
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NADeviceListResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
        - read_station
      - password_oauth:
        - read_thermostat
        - read_station
      tags:
      - deprecated
  /getmeasure:
    get:
      description: |
        The method getmeasure returns the measurements of a device or a module.
      operationId: getmeasure
      parameters:
      - description: Id of the device whose module's measurements you want to retrieve.
          This _id can be found in the user's devices field.
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: If you don't specify any module_id you will retrieve the device's
          measurements. If you specify a module_id you will retrieve the module's
          measurements.
        in: query
        name: module_id
        schema:
          type: string
      - description: |
          Defines the time interval between two measurements.
          Possible values :
          max -> every value stored will be returned
          30min -> 1 value every 30 minutes
          1hour -> 1 value every hour
          3hours -> 1 value every 3 hours
          1day -> 1 value per day
          1week -> 1 value per week
          1month -> 1 value per month
        in: query
        name: scale
        required: true
        schema:
          enum:
          - max
          - 30min
          - 1hour
          - 3hours
          - 1day
          - 1week
          - 1month
          type: string
      - description: |
          Measures you are interested in. Data you can request depends on the scale.
          **For Weather Station:**
            * max -> Temperature (°C), CO2 (ppm), Humidity (%), Pressure (mbar), Noise (db), Rain (mm), WindStrength (km/h), WindAngle (angles), Guststrength (km/h), GustAngle (angles)
            * 30min, 1hour, 3hours -> Same as above + min_temp, max_temp, min_hum, max_hum, min_pressure, max_pressure, min_noise, max_noise, sum_rain, date_max_gust
            * 1day, 1week, 1month -> Same as above + date_min_temp, date_max_temp, date_min_hum, date_max_hum, date_min_pressure, date_max_pressure, date_min_noise, date_max_noise, date_min_co2, date_max_co2

          **For Thermostat:**
            * max -> temperature (°C), sp_temperature (°C), boileron (sec), boileroff (sec)
            * 30min, 1hour, 3hours -> temperature, sp_temperature, min_temp,
          max_temp, sum_boiler_on, sum_boiler_off
            * 1day, 1week, 1month -> temperature, min_temp, date_min_temp,
          max_temp, sum_boiler_on, sum_boiler_off
        explode: false
        in: query
        name: type
        required: true
        schema:
          items:
            enum:
            - Temperature
            - CO2
            - Humidity
            - Pressure
            - Noise
            - Rain
            - WindStrength
            - WindAngle
            - Guststrength
            - GustAngle
            - Sp_Temperature
            - BoilerOn
            - BoilerOff
            - min_temp
            - date_min_temp
            - max_temp
            - date_max_temp
            - min_hum
            - date_min_hum
            - max_hum
            - date_max_hum
            - min_pressure
            - date_min_pressure
            - max_pressure
            - date_max_pressure
            - min_noise
            - date_min_noise
            - max_noise
            - date_max_noise
            - date_min_co2
            - date_max_co2
            - date_max_gust
            - sum_rain
            - sum_boiler_on
            - sum_boiler_off
            type: string
          type: array
        style: form
      - description: |
          Starting timestamp (utc) of the requested measurements.
          Please note measurement retrieving is limited to 1024 measurements.
        in: query
        name: date_begin
        schema:
          format: int32
          type: integer
      - description: |
          Ending timestamp (utc) of the request measurements.
          If you want only the last measurement, do not provide date_begin, and set date_end to `last`.
        in: query
        name: date_end
        schema:
          type: string
      - description: Limits the number of measurements returned (default & max is
          1024)
        in: query
        name: limit
        schema:
          format: int32
          maximum: 1024
          type: integer
      - description: "Allows you to choose the format of the answer.\nIf you build\
          \ a mobile app and bandwith usage is an issue, use `optimize = true`.\n\
          Use `optimize = false`, for an easier parse. In this case, values are indexed\
          \ by sorted timestamp.\nExample of un-optimized response :\n```json\n{\"\
          status\": \"ok\", \n  \"body\": {\n    \"1347575400\": [18.3,39],\n    \"\
          1347586200\": [20.6,48]\n  },\n\"time_exec\": 0.012136936187744}\n```\n\
          If optimize is set true, measurements are returned as an array of series\
          \ of regularly spaced measurements. Each series is defined by a beginning\
          \ time beg_time and a step between measurements, step_time:\n```json\n{\"\
          status\": \"ok\",\n  \"body\": [\n    {\"beg_time\": 1347575400,\n     \"\
          step_time\": 10800,\n     \"value\": \n        [[18.3,39],\n        [ 20.6,48]]\n\
          \    }],\n\"time_exec\": 0.014238119125366}\n```\nDefault value is `true`.\n"
        in: query
        name: optimize
        schema:
          type: boolean
      - description: |
          In scales higher than max, since the data is aggregated, the timestamps returned are by default offset by +(scale/2).
          For instance, if you ask for measurements at a daily scale, you will receive data timestamped at 12:00 if real_time is set to `false` (default case), and timestamped at 00:00 if real_time is set to `true`.
          NB : The servers always store data with real_time set to `true` and data are offset by this parameter AFTER having being time-filtered, thus you could have data after date_end if real_time is set to `false`.
        in: query
        name: real_time
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAMeasureResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
        - read_station
      - password_oauth:
        - read_thermostat
        - read_station
      tags:
      - station
      - thermostat
      - partner
      - public
  /getthermostatsdata:
    get:
      description: The method getthermostatsdata returns information about user's
        thermostats such as their last measurements.
      operationId: getthermostatsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        in: query
        name: device_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAThermostatDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
      - password_oauth:
        - read_thermostat
      tags:
      - thermostat
  /getstationsdata:
    get:
      description: The method getstationsdata Returns data from a user Weather Stations
        (measures and device specific data).
      operationId: getstationsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        in: query
        name: device_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAStationDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_station
      - password_oauth:
        - read_station
      tags:
      - station
  /gethomecoachsdata:
    get:
      description: The method gethomecoachsdata Returns data from a user Healthy Home
        Coach Station (measures and device specific data).
      operationId: gethomecoachsdata
      parameters:
      - description: Id of the device you want to retrieve information of
        in: query
        name: device_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAHealthyHomeCoachDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_homecoach
      - password_oauth:
        - read_homecoach
      tags:
      - healthyhomecoach
  /getthermstate:
    get:
      deprecated: true
      description: "The method getthermstate returns the last Thermostat measurements,\
        \ its current weekly schedule, and, if present, its current manual temperature\
        \ setpoint."
      operationId: getthermstate
      parameters:
      - description: The relay id
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: The thermostat id
        in: query
        name: module_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAThermStateResponse'
          description: Successful response
      security:
      - code_oauth:
        - read_thermostat
      - password_oauth:
        - read_thermostat
      tags:
      - deprecated
  /syncschedule:
    post:
      description: The method syncschedule changes the Thermostat weekly schedule.
      operationId: syncschedule
      parameters:
      - description: The relay id
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: The thermostat id
        in: query
        name: module_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/NAThermProgram'
        description: "The thermostat program (zones, timetable and name)"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-codegen-request-body-name: therm_program
  /setthermpoint:
    post:
      description: The method setthermpoint changes the Thermostat manual temperature
        setpoint.
      operationId: setthermpoint
      parameters:
      - description: The relay id
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: The thermostat id
        in: query
        name: module_id
        required: true
        schema:
          type: string
      - description: Chosen setpoint_mode
        in: query
        name: setpoint_mode
        required: true
        schema:
          enum:
          - program
          - away
          - hg
          - manual
          - "off"
          - max
          type: string
      - description: "When using the manual or max setpoint_mode, this parameter defines\
          \ when the setpoint expires."
        in: query
        name: setpoint_endtime
        schema:
          format: int32
          type: integer
      - description: "When using the manual setpoint_mode, this parameter defines\
          \ the temperature setpoint (in Celcius) to use."
        in: query
        name: setpoint_temp
        schema:
          format: float
          type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
  /switchschedule:
    post:
      description: The method switchschedule switches the Thermostat's schedule to
        another existing schedule.
      operationId: switchschedule
      parameters:
      - description: The relay id
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: The thermostat id
        in: query
        name: module_id
        required: true
        schema:
          type: string
      - description: |
          The schedule id. It can be found in the getthermstate response, under the keys `therm_program_backup` and `therm_program`.
        in: query
        name: schedule_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAOkResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
  /createnewschedule:
    post:
      description: The method createnewschedule creates a new schedule stored in the
        backup list.
      operationId: createnewschedule
      parameters:
      - description: The relay id
        in: query
        name: device_id
        required: true
        schema:
          type: string
      - description: The thermostat id
        in: query
        name: module_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/NAThermProgram'
        description: The thermostat program (zones and timetable)
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NANewScheduleResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_thermostat
      - password_oauth:
        - write_thermostat
      tags:
      - thermostat
      x-codegen-request-body-name: therm_program
  /partnerdevices:
    get:
      description: The method partnerdevices returns the list of device_id to which
        your partner application has access to.
      operationId: partnerdevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAPartnerDevicesResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - partner
  /gethomedata:
    get:
      description: |
        Returns information about users homes and cameras.
      operationId: gethomedata
      parameters:
      - description: Specify if you're looking for the events of a specific Home.
        in: query
        name: home_id
        schema:
          type: string
      - description: Number of events to retrieve. Default is `30`.
        in: query
        name: size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeHomeDataResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
  /getcamerapicture:
    get:
      description: |
        Returns the snapshot associated to an event.
      operationId: getcamerapicture
      parameters:
      - description: "id of the image (can be retrieved as 'id' in 'face' in Gethomedata,\
          \ or as 'id' in 'snapshot' in Getnextevents, Getlasteventof and Geteventsuntil)"
        in: query
        name: image_id
        required: true
        schema:
          type: string
      - description: Security key to access snapshots.
        in: query
        name: key
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: byte
                type: string
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
  /geteventsuntil:
    get:
      description: |
        Returns the snapshot associated to an event.
      operationId: geteventsuntil
      parameters:
      - description: ID of the Home you're interested in
        in: query
        name: home_id
        required: true
        schema:
          type: string
      - description: Your request will retrieve all the events until this one
        in: query
        name: event_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
  /getlasteventof:
    get:
      description: |
        Returns most recent events.
      operationId: getlasteventof
      parameters:
      - description: ID of the Home you're interested in
        in: query
        name: home_id
        required: true
        schema:
          type: string
      - description: Your request will retrieve all events of the given home until
          the most recent event of the given person
        in: query
        name: person_id
        required: true
        schema:
          type: string
      - description: Number of events to retrieve. Default is 30.
        in: query
        name: offset
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
  /getnextevents:
    get:
      description: |
        Returns previous events.
      operationId: getnextevents
      parameters:
      - description: ID of the Home you're interested in
        in: query
        name: home_id
        required: true
        schema:
          type: string
      - description: Your request will retrieve events occured before this one
        in: query
        name: event_id
        required: true
        schema:
          type: string
      - description: Number of events to retrieve. Default is 30.
        in: query
        name: size
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeEventResponse'
          description: Successful response
      security:
      - code_oauth:
        - access_camera
        - read_camera
      - password_oauth:
        - access_camera
        - read_camera
      tags:
      - welcome
  /setpersonsaway:
    post:
      description: |
        Sets a person as 'Away' or the Home as 'Empty'. The event will be added to the user’s timeline.
      operationId: setpersonsaway
      parameters:
      - description: ID of the Home you're interested in
        in: query
        name: home_id
        required: true
        schema:
          type: string
      - description: "If a person_id is specified, that person will be set as 'Away'.\
          \ If no person_id is specified, the Home will be set as 'Empty'."
        in: query
        name: person_id
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomePersonsAwayResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_camera
      - password_oauth:
        - write_camera
      tags:
      - welcome
  /setpersonshome:
    post:
      description: |
        Sets a person as 'At home'.
      operationId: setpersonshome
      parameters:
      - description: ID of the Home you're interested in
        in: query
        name: home_id
        required: true
        schema:
          type: string
      - description: List of persons IDs
        in: query
        name: person_ids
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomePersonsHomeResponse'
          description: Successful response
      security:
      - code_oauth:
        - write_camera
      - password_oauth:
        - write_camera
      tags:
      - welcome
  /addwebhook:
    get:
      description: |
        Links a callback url to a user.
      operationId: addwebhook
      parameters:
      - description: Your webhook callback url
        in: query
        name: url
        required: true
        schema:
          type: string
      - description: "Webhooks are only available for Welcome, enter app_camera."
        in: query
        name: app_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeWebhookResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
  /dropwebhook:
    get:
      description: |
        Dissociates a webhook from a user.
      operationId: dropwebhook
      parameters:
      - description: "For Welcome, use app_camera"
        in: query
        name: app_type
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NAWelcomeWebhookResponse'
          description: Successful response
      security:
      - code_oauth: []
      - password_oauth: []
      tags:
      - welcome
components:
  schemas:
    NAOkResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body: body
        status: ok
      properties:
        status:
          example: ok
          type: string
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
        body:
          type: string
      type: object
    NAPublicDataResponse:
      example:
        time_server: 1
        time_exec: 1.2315135367772556
        body:
        - measures:
            key:
              wind_angle: 3.616076749251911
              res: "{}"
              rain_24h: 5.637376656633329
              rain_utc: 7
              rain_60min: 5.962133916683182
              gust_strength: 2.027123023002322
              gust_angle: 4.145608029883936
              rain_live: 2.3021358869347655
              type:
              - type
              - type
              wind_strength: 9.301444243932576
              wind_timeutc": 7
          module_types:
            key: module_types
          _id: 70:ee:50:09:f0:xx
          place:
            altitude: 0.8008282
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.027456183070403
            - 6.027456183070403
            trust_location: true
            from_ip: true
          mark: 1
          modules:
          - modules
          - modules
        - measures:
            key:
              wind_angle: 3.616076749251911
              res: "{}"
              rain_24h: 5.637376656633329
              rain_utc: 7
              rain_60min: 5.962133916683182
              gust_strength: 2.027123023002322
              gust_angle: 4.145608029883936
              rain_live: 2.3021358869347655
              type:
              - type
              - type
              wind_strength: 9.301444243932576
              wind_timeutc": 7
          module_types:
            key: module_types
          _id: 70:ee:50:09:f0:xx
          place:
            altitude: 0.8008282
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.027456183070403
            - 6.027456183070403
            trust_location: true
            from_ip: true
          mark: 1
          modules:
          - modules
          - modules
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          items:
            $ref: '#/components/schemas/NAPublicData'
          type: array
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAPublicData:
      example:
        measures:
          key:
            wind_angle: 3.616076749251911
            res: "{}"
            rain_24h: 5.637376656633329
            rain_utc: 7
            rain_60min: 5.962133916683182
            gust_strength: 2.027123023002322
            gust_angle: 4.145608029883936
            rain_live: 2.3021358869347655
            type:
            - type
            - type
            wind_strength: 9.301444243932576
            wind_timeutc": 7
        module_types:
          key: module_types
        _id: 70:ee:50:09:f0:xx
        place:
          altitude: 0.8008282
          country: country
          city: city
          timezone: timezone
          improveLocProposed: true
          location:
          - 6.027456183070403
          - 6.027456183070403
          trust_location: true
          from_ip: true
        mark: 1
        modules:
        - modules
        - modules
      properties:
        _id:
          description: id of the station
          example: 70:ee:50:09:f0:xx
          type: string
        place:
          $ref: '#/components/schemas/NAPlace'
        mark:
          type: integer
        modules:
          items:
            type: string
          type: array
        module_types:
          additionalProperties:
            type: string
          description: "Latest measurements of the station, organized by module"
          type: object
        measures:
          additionalProperties:
            $ref: '#/components/schemas/NAMeasure'
          type: object
      type: object
    NAMeasure:
      example:
        wind_angle: 3.616076749251911
        res: "{}"
        rain_24h: 5.637376656633329
        rain_utc: 7
        rain_60min: 5.962133916683182
        gust_strength: 2.027123023002322
        gust_angle: 4.145608029883936
        rain_live: 2.3021358869347655
        type:
        - type
        - type
        wind_strength: 9.301444243932576
        wind_timeutc": 7
      properties:
        res:
          type: object
        type:
          items:
            type: string
          type: array
        rain_60min:
          type: number
        rain_24h:
          type: number
        rain_live:
          type: number
        rain_utc:
          format: int64
          type: integer
        wind_strength:
          type: number
        wind_angle:
          type: number
        gust_strength:
          type: number
        gust_angle:
          type: number
        wind_timeutc":
          format: int64
          type: integer
      type: object
    NAUserResponse:
      example:
        time_server: 2
        time_exec: 5.637376656633329
        body:
          mail: mail
          devices:
          - devices
          - devices
          administrative:
            country: country
            unit: unit
            reg_locale: reg_locale
            windunit: windunit
            feel_like_algo: feel_like_algo
            lang: lang
            pressureunit: pressureunit
          timeline_not_read: 1
          timeline_size: 5
          _id: _id
          friend_devices:
          - friend_devices
          - friend_devices
          date_creation:
            sec: 0
            usec: 6
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NAUser'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NADeviceListResponse:
      example:
        time_server: 8
        time_exec: 6.073898085781152
        body:
          devices:
          - hw_version: 1
            cipher_id: cipher_id
            setpoint_default_duration: 9
            last_fw_update: 9
            therm_program:
              key:
                program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
            udp_conn: true
            type: type
            therm_program_order:
              key:
              - $id: $id
              - $id: $id
            last_upgrade: 8
            wifi_status: 6
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            new_feature_avail: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            behavior: 0
            firmware: 6
            house_model:
              station_firsttime_anticipate: true
              simple_algo:
                high_deadband: 1
              in_use: in_use
              algo_type: algo_type
              first_anticipate_avail: true
              link_station:
                ext: ext
                Temperature: 1.2315135
                mac: mac
              time_algo_changed: 4
              time_pid_computed: 5
              ext_temps:
                key: 2
              prefered_algo_type: prefered_algo_type
              pid_algo:
                td: 6
                period: 1
                ti: 7
                gain: 1
              station:
                lag_down: 7
                off_overshoot: 3.6160767
                tau: 7
                lag_up: 9
                pk: 4
                on_overshoot: 2.027123
              gefs:
                lag_down: 7
                off_overshoot: 3.6160767
                tau: 7
                lag_up: 9
                pk: 4
                on_overshoot: 2.027123
              last_compute_try:
                sec: 0
                usec: 6
              time:
                sec: 0
                usec: 6
              first_pid_avail: true
              ca:
                te: 5.962133916683182
                ti: 5
                so: so
            station_name: station_name
            last_radio_store: 9
            setpoint: "{}"
            user_owner:
            - user_owner
            - user_owner
            ip: ip
            modules:
            - modules
            - modules
            date_setup:
              sec: 0
              usec: 6
            public_ext_data: true
            heating_system:
              heating_energy: heating_energy
              heating_system_window_seen: true
            setpoint_order:
              key:
              - $id: $id
              - $id: $id
            therm_program_backup:
              key:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            last_status_store: 6
            first_pid_avail: true
          - hw_version: 1
            cipher_id: cipher_id
            setpoint_default_duration: 9
            last_fw_update: 9
            therm_program:
              key:
                program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
            udp_conn: true
            type: type
            therm_program_order:
              key:
              - $id: $id
              - $id: $id
            last_upgrade: 8
            wifi_status: 6
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            new_feature_avail: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            behavior: 0
            firmware: 6
            house_model:
              station_firsttime_anticipate: true
              simple_algo:
                high_deadband: 1
              in_use: in_use
              algo_type: algo_type
              first_anticipate_avail: true
              link_station:
                ext: ext
                Temperature: 1.2315135
                mac: mac
              time_algo_changed: 4
              time_pid_computed: 5
              ext_temps:
                key: 2
              prefered_algo_type: prefered_algo_type
              pid_algo:
                td: 6
                period: 1
                ti: 7
                gain: 1
              station:
                lag_down: 7
                off_overshoot: 3.6160767
                tau: 7
                lag_up: 9
                pk: 4
                on_overshoot: 2.027123
              gefs:
                lag_down: 7
                off_overshoot: 3.6160767
                tau: 7
                lag_up: 9
                pk: 4
                on_overshoot: 2.027123
              last_compute_try:
                sec: 0
                usec: 6
              time:
                sec: 0
                usec: 6
              first_pid_avail: true
              ca:
                te: 5.962133916683182
                ti: 5
                so: so
            station_name: station_name
            last_radio_store: 9
            setpoint: "{}"
            user_owner:
            - user_owner
            - user_owner
            ip: ip
            modules:
            - modules
            - modules
            date_setup:
              sec: 0
              usec: 6
            public_ext_data: true
            heating_system:
              heating_energy: heating_energy
              heating_system_window_seen: true
            setpoint_order:
              key:
              - $id: $id
              - $id: $id
            therm_program_backup:
              key:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            last_status_store: 6
            first_pid_avail: true
          modules:
          - last_seen: 0
            therm_orientation: 5
            last_message: 9
            type: type
            date_setup:
              sec: 0
              usec: 6
            rf_status: 9
            battery_vp: 0
            public_ext_data: true
            battery_percent: 7
            therm_relay_cmd: 4
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            firmware: 7
            main_device: main_device
          - last_seen: 0
            therm_orientation: 5
            last_message: 9
            type: type
            date_setup:
              sec: 0
              usec: 6
            rf_status: 9
            battery_vp: 0
            public_ext_data: true
            battery_percent: 7
            therm_relay_cmd: 4
            data_type:
            - data_type
            - data_type
            _id: _id
            module_name: module_name
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            firmware: 7
            main_device: main_device
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NADeviceListBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAMeasureResponse:
      example:
        time_server: 5
        time_exec: 5.962133916683182
        body:
        - beg_time: 0
          step_time: 6
          value:
          - - 1.4658129
            - 1.4658129
          - - 1.4658129
            - 1.4658129
        - beg_time: 0
          step_time: 6
          value:
          - - 1.4658129
            - 1.4658129
          - - 1.4658129
            - 1.4658129
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          items:
            $ref: '#/components/schemas/NAMeasureBodyElem'
          type: array
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAThermostatDataResponse:
      example:
        time_server: 6
        time_exec: 9.369310271410669
        body:
          devices:
          - station_name: station_name
            last_plug_seen: 5
            syncing: true
            plug_connected_boiler: 5
            udp_conn: true
            type: type
            modules:
            - measured:
                temperature: 4.9652185
                setpoint_temp: 5.025005
                time: 1
              therm_program_list:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              last_therm_seen: 7
              setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_orientation: 1
              last_message: 3
              type: type
              rf_status: 2
              battery_vp: 4
              battery_percent: 7
              setpoint_order:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_relay_cmd: 6
              _id: _id
              module_name: module_name
              firmware: 9
              setpoint_history:
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
            - measured:
                temperature: 4.9652185
                setpoint_temp: 5.025005
                time: 1
              therm_program_list:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              last_therm_seen: 7
              setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_orientation: 1
              last_message: 3
              type: type
              rf_status: 2
              battery_vp: 4
              battery_percent: 7
              setpoint_order:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_relay_cmd: 6
              _id: _id
              module_name: module_name
              firmware: 9
              setpoint_history:
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
            wifi_status: 1
            _id: 70:ee:50:09:f0:xx
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            firmware: 0
            last_status_store: 6
            last_bilan:
              "y": 2
              m: 7
          - station_name: station_name
            last_plug_seen: 5
            syncing: true
            plug_connected_boiler: 5
            udp_conn: true
            type: type
            modules:
            - measured:
                temperature: 4.9652185
                setpoint_temp: 5.025005
                time: 1
              therm_program_list:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              last_therm_seen: 7
              setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_orientation: 1
              last_message: 3
              type: type
              rf_status: 2
              battery_vp: 4
              battery_percent: 7
              setpoint_order:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_relay_cmd: 6
              _id: _id
              module_name: module_name
              firmware: 9
              setpoint_history:
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
            - measured:
                temperature: 4.9652185
                setpoint_temp: 5.025005
                time: 1
              therm_program_list:
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              - program_id: program_id
                name: name
                zones:
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                - temp: 6.965118
                  name: name
                  id: 6
                  type: 3
                selected: true
                timetable:
                - m_offset: 2
                  id: 1
                - m_offset: 2
                  id: 1
              last_therm_seen: 7
              setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_orientation: 1
              last_message: 3
              type: type
              rf_status: 2
              battery_vp: 4
              battery_percent: 7
              setpoint_order:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              therm_relay_cmd: 6
              _id: _id
              module_name: module_name
              firmware: 9
              setpoint_history:
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
              - setpoint:
                  setpoint_endtime: 1
                  setpoint_temp: 1.2315135
                  setpoint_mode: setpoint_mode
                timestamp: 9
            wifi_status: 1
            _id: 70:ee:50:09:f0:xx
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            firmware: 0
            last_status_store: 6
            last_bilan:
              "y": 2
              m: 7
          user:
            mail: mail
            devices:
            - devices
            - devices
            administrative:
              country: country
              unit: unit
              reg_locale: reg_locale
              windunit: windunit
              feel_like_algo: feel_like_algo
              lang: lang
              pressureunit: pressureunit
            timeline_not_read: 1
            timeline_size: 5
            _id: _id
            friend_devices:
            - friend_devices
            - friend_devices
            date_creation:
              sec: 0
              usec: 6
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NAThermostatDataBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAStationDataResponse:
      example:
        time_server: 1
        time_exec: 1.0246457001441578
        body:
          devices:
          - station_name: station_name
            cipher_id: cipher_id
            type: type
            modules:
            - last_setup: 5
              battery_vp: 5
              rf_status: 7
              last_seen: 1
              battery_percent: 2
              data_type:
              - data_type
              - data_type
              last_message: 6
              _id: _id
              dashboard_data:
                time_utc: 6
                Temperature: 3.0937452
                Noise: 7.7403517
                CO2: 4.652396
                date_max_temp: 7
                Rain: 3.05761
                BoilerOn: 6
                min_temp: 7.05877
                Humidity: 8.969579
                max_temp: 6.519181
                sum_rain_24: 5.5332584
                sum_rain_1: 7.0483656
                WindStrength: 0
                date_min_temp: 0
                date_max_wind_str: 4
                device_id: 5.9448957
                pressure_trend: pressure_trend
                temp_trend: temp_trend
                Pressure: 3.0205798
                GustAngle: 4
                max_wind_str: 6
                BoilerOff: 3
                GustStrength: 1
                health_idx: 4
                AbsolutePressure: 0.10263654
                WindAngle: 3
              module_name: module_name
              type: type
              firmware: 9
            - last_setup: 5
              battery_vp: 5
              rf_status: 7
              last_seen: 1
              battery_percent: 2
              data_type:
              - data_type
              - data_type
              last_message: 6
              _id: _id
              dashboard_data:
                time_utc: 6
                Temperature: 3.0937452
                Noise: 7.7403517
                CO2: 4.652396
                date_max_temp: 7
                Rain: 3.05761
                BoilerOn: 6
                min_temp: 7.05877
                Humidity: 8.969579
                max_temp: 6.519181
                sum_rain_24: 5.5332584
                sum_rain_1: 7.0483656
                WindStrength: 0
                date_min_temp: 0
                date_max_wind_str: 4
                device_id: 5.9448957
                pressure_trend: pressure_trend
                temp_trend: temp_trend
                Pressure: 3.0205798
                GustAngle: 4
                max_wind_str: 6
                BoilerOff: 3
                GustStrength: 1
                health_idx: 4
                AbsolutePressure: 0.10263654
                WindAngle: 3
              module_name: module_name
              type: type
              firmware: 9
            date_setup: 3
            last_setup: 2
            last_upgrade: 7
            co2_calibrating: true
            wifi_status: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            module_name: module_name
            last_status_store: 0
            firmware: 4
          - station_name: station_name
            cipher_id: cipher_id
            type: type
            modules:
            - last_setup: 5
              battery_vp: 5
              rf_status: 7
              last_seen: 1
              battery_percent: 2
              data_type:
              - data_type
              - data_type
              last_message: 6
              _id: _id
              dashboard_data:
                time_utc: 6
                Temperature: 3.0937452
                Noise: 7.7403517
                CO2: 4.652396
                date_max_temp: 7
                Rain: 3.05761
                BoilerOn: 6
                min_temp: 7.05877
                Humidity: 8.969579
                max_temp: 6.519181
                sum_rain_24: 5.5332584
                sum_rain_1: 7.0483656
                WindStrength: 0
                date_min_temp: 0
                date_max_wind_str: 4
                device_id: 5.9448957
                pressure_trend: pressure_trend
                temp_trend: temp_trend
                Pressure: 3.0205798
                GustAngle: 4
                max_wind_str: 6
                BoilerOff: 3
                GustStrength: 1
                health_idx: 4
                AbsolutePressure: 0.10263654
                WindAngle: 3
              module_name: module_name
              type: type
              firmware: 9
            - last_setup: 5
              battery_vp: 5
              rf_status: 7
              last_seen: 1
              battery_percent: 2
              data_type:
              - data_type
              - data_type
              last_message: 6
              _id: _id
              dashboard_data:
                time_utc: 6
                Temperature: 3.0937452
                Noise: 7.7403517
                CO2: 4.652396
                date_max_temp: 7
                Rain: 3.05761
                BoilerOn: 6
                min_temp: 7.05877
                Humidity: 8.969579
                max_temp: 6.519181
                sum_rain_24: 5.5332584
                sum_rain_1: 7.0483656
                WindStrength: 0
                date_min_temp: 0
                date_max_wind_str: 4
                device_id: 5.9448957
                pressure_trend: pressure_trend
                temp_trend: temp_trend
                Pressure: 3.0205798
                GustAngle: 4
                max_wind_str: 6
                BoilerOff: 3
                GustStrength: 1
                health_idx: 4
                AbsolutePressure: 0.10263654
                WindAngle: 3
              module_name: module_name
              type: type
              firmware: 9
            date_setup: 3
            last_setup: 2
            last_upgrade: 7
            co2_calibrating: true
            wifi_status: 1
            data_type:
            - data_type
            - data_type
            _id: _id
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            module_name: module_name
            last_status_store: 0
            firmware: 4
          user:
            mail: mail
            devices:
            - devices
            - devices
            administrative:
              country: country
              unit: unit
              reg_locale: reg_locale
              windunit: windunit
              feel_like_algo: feel_like_algo
              lang: lang
              pressureunit: pressureunit
            timeline_not_read: 1
            timeline_size: 5
            _id: _id
            friend_devices:
            - friend_devices
            - friend_devices
            date_creation:
              sec: 0
              usec: 6
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NAStationDataBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAHealthyHomeCoachDataResponse:
      example:
        time_server: 9
        time_exec: 7.061401241503109
        body:
          devices:
          - cipher_id: cipher_id
            type: type
            date_setup: 6
            last_setup: 1
            last_upgrade: 5
            co2_calibrating: true
            wifi_status: 2
            data_type:
            - data_type
            - data_type
            name: name
            _id: _id
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            last_status_store: 0
            firmware: 5
          - cipher_id: cipher_id
            type: type
            date_setup: 6
            last_setup: 1
            last_upgrade: 5
            co2_calibrating: true
            wifi_status: 2
            data_type:
            - data_type
            - data_type
            name: name
            _id: _id
            place:
              altitude: 0.8008282
              country: country
              city: city
              timezone: timezone
              improveLocProposed: true
              location:
              - 6.027456183070403
              - 6.027456183070403
              trust_location: true
              from_ip: true
            dashboard_data:
              time_utc: 6
              Temperature: 3.0937452
              Noise: 7.7403517
              CO2: 4.652396
              date_max_temp: 7
              Rain: 3.05761
              BoilerOn: 6
              min_temp: 7.05877
              Humidity: 8.969579
              max_temp: 6.519181
              sum_rain_24: 5.5332584
              sum_rain_1: 7.0483656
              WindStrength: 0
              date_min_temp: 0
              date_max_wind_str: 4
              device_id: 5.9448957
              pressure_trend: pressure_trend
              temp_trend: temp_trend
              Pressure: 3.0205798
              GustAngle: 4
              max_wind_str: 6
              BoilerOff: 3
              GustStrength: 1
              health_idx: 4
              AbsolutePressure: 0.10263654
              WindAngle: 3
            last_status_store: 0
            firmware: 5
          user:
            mail: mail
            devices:
            - devices
            - devices
            administrative:
              country: country
              unit: unit
              reg_locale: reg_locale
              windunit: windunit
              feel_like_algo: feel_like_algo
              lang: lang
              pressureunit: pressureunit
            timeline_not_read: 1
            timeline_size: 5
            _id: _id
            friend_devices:
            - friend_devices
            - friend_devices
            date_creation:
              sec: 0
              usec: 6
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NAHealthyHomeCoachDataBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAThermStateResponse:
      example:
        time_server: 4
        time_exec: 2.027123023002322
        body:
          last_plug_seen: 9
          measured:
            temperature: 4.9652185
            setpoint_temp: 5.025005
            time: 1
          last_therm_seen: 7
          setpoint:
            setpoint_endtime: 1
            setpoint_temp: 1.2315135
            setpoint_mode: setpoint_mode
          therm_orientation: 0
          plug_connected_boiler: 2
          therm_program:
            program_id: program_id
            name: name
            zones:
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            selected: true
            timetable:
            - m_offset: 2
              id: 1
            - m_offset: 2
              id: 1
          udp_conn: true
          therm_program_order:
            program_id: program_id
            name: name
            zones:
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            selected: true
            timetable:
            - m_offset: 2
              id: 1
            - m_offset: 2
              id: 1
          battery_vp: 1
          rf_status: 5
          setpoint_order:
            setpoint_endtime: 1
            setpoint_temp: 1.2315135
            setpoint_mode: setpoint_mode
          therm_program_backup:
          - program_id: program_id
            name: name
            zones:
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            selected: true
            timetable:
            - m_offset: 2
              id: 1
            - m_offset: 2
              id: 1
          - program_id: program_id
            name: name
            zones:
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            - temp: 6.965118
              name: name
              id: 6
              type: 3
            selected: true
            timetable:
            - m_offset: 2
              id: 1
            - m_offset: 2
              id: 1
          battery_percent: 5
          wifi_status: 3
          therm_relay_cmd: 6
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NAThermStateBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NANewScheduleResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body:
          schedule_id: schedule_id
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          $ref: '#/components/schemas/NANewScheduleBody'
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAPartnerDevicesResponse:
      example:
        time_server: 6
        time_exec: 0.8008281904610115
        body:
        - body
        - body
        status: ok
      properties:
        status:
          example: ok
          type: string
        body:
          items:
            type: string
          type: array
        time_exec:
          format: double
          type: number
        time_server:
          format: int32
          type: integer
      type: object
    NAUser:
      example:
        mail: mail
        devices:
        - devices
        - devices
        administrative:
          country: country
          unit: unit
          reg_locale: reg_locale
          windunit: windunit
          feel_like_algo: feel_like_algo
          lang: lang
          pressureunit: pressureunit
        timeline_not_read: 1
        timeline_size: 5
        _id: _id
        friend_devices:
        - friend_devices
        - friend_devices
        date_creation:
          sec: 0
          usec: 6
      properties:
        _id:
          type: string
        administrative:
          $ref: '#/components/schemas/NAUserAdministrative'
        date_creation:
          $ref: '#/components/schemas/NADate'
        devices:
          description: An array of string containing the ids of the devices owned
            by the user
          items:
            type: string
          type: array
        friend_devices:
          description: |
            An array of string containing the ids of the devices on which the user has a "guest" access
          items:
            type: string
          type: array
        mail:
          type: string
        timeline_not_read:
          format: int32
          type: integer
        timeline_size:
          format: int32
          type: integer
      type: object
    NADeviceListBody:
      example:
        devices:
        - hw_version: 1
          cipher_id: cipher_id
          setpoint_default_duration: 9
          last_fw_update: 9
          therm_program:
            key:
              program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
          udp_conn: true
          type: type
          therm_program_order:
            key:
            - $id: $id
            - $id: $id
          last_upgrade: 8
          wifi_status: 6
          place:
            altitude: 0.8008282
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.027456183070403
            - 6.027456183070403
            trust_location: true
            from_ip: true
          new_feature_avail: true
          dashboard_data:
            time_utc: 6
            Temperature: 3.0937452
            Noise: 7.7403517
            CO2: 4.652396
            date_max_temp: 7
            Rain: 3.05761
            BoilerOn: 6
            min_temp: 7.05877
            Humidity: 8.969579
            max_temp: 6.519181
            sum_rain_24: 5.5332584
            sum_rain_1: 7.0483656
            WindStrength: 0
            date_min_temp: 0
            date_max_wind_str: 4
            device_id: 5.9448957
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 3.0205798
            GustAngle: 4
            max_wind_str: 6
            BoilerOff: 3
            GustStrength: 1
            health_idx: 4
            AbsolutePressure: 0.10263654
            WindAngle: 3
          behavior: 0
          firmware: 6
          house_model:
            station_firsttime_anticipate: true
            simple_algo:
              high_deadband: 1
            in_use: in_use
            algo_type: algo_type
            first_anticipate_avail: true
            link_station:
              ext: ext
              Temperature: 1.2315135
              mac: mac
            time_algo_changed: 4
            time_pid_computed: 5
            ext_temps:
              key: 2
            prefered_algo_type: prefered_algo_type
            pid_algo:
              td: 6
              period: 1
              ti: 7
              gain: 1
            station:
              lag_down: 7
              off_overshoot: 3.6160767
              tau: 7
              lag_up: 9
              pk: 4
              on_overshoot: 2.027123
            gefs:
              lag_down: 7
              off_overshoot: 3.6160767
              tau: 7
              lag_up: 9
              pk: 4
              on_overshoot: 2.027123
            last_compute_try:
              sec: 0
              usec: 6
            time:
              sec: 0
              usec: 6
            first_pid_avail: true
            ca:
              te: 5.962133916683182
              ti: 5
              so: so
          station_name: station_name
          last_radio_store: 9
          setpoint: "{}"
          user_owner:
          - user_owner
          - user_owner
          ip: ip
          modules:
          - modules
          - modules
          date_setup:
            sec: 0
            usec: 6
          public_ext_data: true
          heating_system:
            heating_energy: heating_energy
            heating_system_window_seen: true
          setpoint_order:
            key:
            - $id: $id
            - $id: $id
          therm_program_backup:
            key:
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          last_status_store: 6
          first_pid_avail: true
        - hw_version: 1
          cipher_id: cipher_id
          setpoint_default_duration: 9
          last_fw_update: 9
          therm_program:
            key:
              program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
          udp_conn: true
          type: type
          therm_program_order:
            key:
            - $id: $id
            - $id: $id
          last_upgrade: 8
          wifi_status: 6
          place:
            altitude: 0.8008282
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.027456183070403
            - 6.027456183070403
            trust_location: true
            from_ip: true
          new_feature_avail: true
          dashboard_data:
            time_utc: 6
            Temperature: 3.0937452
            Noise: 7.7403517
            CO2: 4.652396
            date_max_temp: 7
            Rain: 3.05761
            BoilerOn: 6
            min_temp: 7.05877
            Humidity: 8.969579
            max_temp: 6.519181
            sum_rain_24: 5.5332584
            sum_rain_1: 7.0483656
            WindStrength: 0
            date_min_temp: 0
            date_max_wind_str: 4
            device_id: 5.9448957
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 3.0205798
            GustAngle: 4
            max_wind_str: 6
            BoilerOff: 3
            GustStrength: 1
            health_idx: 4
            AbsolutePressure: 0.10263654
            WindAngle: 3
          behavior: 0
          firmware: 6
          house_model:
            station_firsttime_anticipate: true
            simple_algo:
              high_deadband: 1
            in_use: in_use
            algo_type: algo_type
            first_anticipate_avail: true
            link_station:
              ext: ext
              Temperature: 1.2315135
              mac: mac
            time_algo_changed: 4
            time_pid_computed: 5
            ext_temps:
              key: 2
            prefered_algo_type: prefered_algo_type
            pid_algo:
              td: 6
              period: 1
              ti: 7
              gain: 1
            station:
              lag_down: 7
              off_overshoot: 3.6160767
              tau: 7
              lag_up: 9
              pk: 4
              on_overshoot: 2.027123
            gefs:
              lag_down: 7
              off_overshoot: 3.6160767
              tau: 7
              lag_up: 9
              pk: 4
              on_overshoot: 2.027123
            last_compute_try:
              sec: 0
              usec: 6
            time:
              sec: 0
              usec: 6
            first_pid_avail: true
            ca:
              te: 5.962133916683182
              ti: 5
              so: so
          station_name: station_name
          last_radio_store: 9
          setpoint: "{}"
          user_owner:
          - user_owner
          - user_owner
          ip: ip
          modules:
          - modules
          - modules
          date_setup:
            sec: 0
            usec: 6
          public_ext_data: true
          heating_system:
            heating_energy: heating_energy
            heating_system_window_seen: true
          setpoint_order:
            key:
            - $id: $id
            - $id: $id
          therm_program_backup:
            key:
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          last_status_store: 6
          first_pid_avail: true
        modules:
        - last_seen: 0
          therm_orientation: 5
          last_message: 9
          type: type
          date_setup:
            sec: 0
            usec: 6
          rf_status: 9
          battery_vp: 0
          public_ext_data: true
          battery_percent: 7
          therm_relay_cmd: 4
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          dashboard_data:
            time_utc: 6
            Temperature: 3.0937452
            Noise: 7.7403517
            CO2: 4.652396
            date_max_temp: 7
            Rain: 3.05761
            BoilerOn: 6
            min_temp: 7.05877
            Humidity: 8.969579
            max_temp: 6.519181
            sum_rain_24: 5.5332584
            sum_rain_1: 7.0483656
            WindStrength: 0
            date_min_temp: 0
            date_max_wind_str: 4
            device_id: 5.9448957
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 3.0205798
            GustAngle: 4
            max_wind_str: 6
            BoilerOff: 3
            GustStrength: 1
            health_idx: 4
            AbsolutePressure: 0.10263654
            WindAngle: 3
          firmware: 7
          main_device: main_device
        - last_seen: 0
          therm_orientation: 5
          last_message: 9
          type: type
          date_setup:
            sec: 0
            usec: 6
          rf_status: 9
          battery_vp: 0
          public_ext_data: true
          battery_percent: 7
          therm_relay_cmd: 4
          data_type:
          - data_type
          - data_type
          _id: _id
          module_name: module_name
          dashboard_data:
            time_utc: 6
            Temperature: 3.0937452
            Noise: 7.7403517
            CO2: 4.652396
            date_max_temp: 7
            Rain: 3.05761
            BoilerOn: 6
            min_temp: 7.05877
            Humidity: 8.969579
            max_temp: 6.519181
            sum_rain_24: 5.5332584
            sum_rain_1: 7.0483656
            WindStrength: 0
            date_min_temp: 0
            date_max_wind_str: 4
            device_id: 5.9448957
            pressure_trend: pressure_trend
            temp_trend: temp_trend
            Pressure: 3.0205798
            GustAngle: 4
            max_wind_str: 6
            BoilerOff: 3
            GustStrength: 1
            health_idx: 4
            AbsolutePressure: 0.10263654
            WindAngle: 3
          firmware: 7
          main_device: main_device
      properties:
        devices:
          items:
            $ref: '#/components/schemas/NADevice'
          type: array
        modules:
          items:
            $ref: '#/components/schemas/NAModule'
          type: array
      type: object
    NAMeasureBodyElem:
      example:
        beg_time: 0
        step_time: 6
        value:
        - - 1.4658129
          - 1.4658129
        - - 1.4658129
          - 1.4658129
      properties:
        beg_time:
          format: int32
          type: integer
        step_time:
          format: int32
          type: integer
        value:
          items:
            items:
              format: float
              type: number
            type: array
          type: array
      type: object
    NAThermostatDataBody:
      example:
        devices:
        - station_name: station_name
          last_plug_seen: 5
          syncing: true
          plug_connected_boiler: 5
          udp_conn: true
          type: type
          modules:
          - measured:
              temperature: 4.9652185
              setpoint_temp: 5.025005
              time: 1
            therm_program_list:
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            last_therm_seen: 7
            setpoint:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_orientation: 1
            last_message: 3
            type: type
            rf_status: 2
            battery_vp: 4
            battery_percent: 7
            setpoint_order:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_relay_cmd: 6
            _id: _id
            module_name: module_name
            firmware: 9
            setpoint_history:
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
          - measured:
              temperature: 4.9652185
              setpoint_temp: 5.025005
              time: 1
            therm_program_list:
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            last_therm_seen: 7
            setpoint:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_orientation: 1
            last_message: 3
            type: type
            rf_status: 2
            battery_vp: 4
            battery_percent: 7
            setpoint_order:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_relay_cmd: 6
            _id: _id
            module_name: module_name
            firmware: 9
            setpoint_history:
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
          wifi_status: 1
          _id: 70:ee:50:09:f0:xx
          place:
            altitude: 0.8008282
            country: country
            city: city
            timezone: timezone
            improveLocProposed: true
            location:
            - 6.027456183070403
            - 6.027456183070403
            trust_location: true
            from_ip: true
          firmware: 0
          last_status_store: 6
          last_bilan:
            "y": 2
            m: 7
        - station_name: station_name
          last_plug_seen: 5
          syncing: true
          plug_connected_boiler: 5
          udp_conn: true
          type: type
          modules:
          - measured:
              temperature: 4.9652185
              setpoint_temp: 5.025005
              time: 1
            therm_program_list:
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            - program_id: program_id
              name: name
              zones:
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              - temp: 6.965118
                name: name
                id: 6
                type: 3
              selected: true
              timetable:
              - m_offset: 2
                id: 1
              - m_offset: 2
                id: 1
            last_therm_seen: 7
            setpoint:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_orientation: 1
            last_message: 3
            type: type
            rf_status: 2
            battery_vp: 4
            battery_percent: 7
            setpoint_order:
              setpoint_endtime: 1
              setpoint_temp: 1.2315135
              setpoint_mode: setpoint_mode
            therm_relay_cmd: 6
            _id: _id
            module_name: module_name
            firmware: 9
            setpoint_history:
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
            - setpoint:
                setpoint_endtime: 1
                setpoint_temp: 1.2315135
                setpoint_mode: setpoint_mode
              timestamp: 9
          - measured:
              temperature: 4.9652185
              setpoint_temp: 5.025005
              time: 1
            therm_program_list:
[...]
